#selectClinic {
    text-align: center;
}

#timeSlots {
    height: 100%;
    text-align: center;
    margin-left: 2.5%;
}

#week {
    height: 100%;
    text-align: center;
}

.card {
    height: 100%;
}
