#error-main {
    margin-bottom: 25%;
    margin-top: 25%;
    padding-bottom: 5%;
    background-color: #ADD8E6;
}

#error-oops {
    font-size: 45px;
    text-align: center;
    font-style: oblique;
}

#error-content {
    text-align: justify;
    margin: 10% 25%;
    border-style: groove;
}

@media only screen and (max-width: 500px) {
    #error-oops {
        font-size: 35px;
    }

    #error-content {
        text-align: justify;
        margin: 10%;
        border-style: groove;
    }


}
