* {
    margin: 0px;
}

body {
    background-color: whitesmoke;
}

.passwordChanging, .leftBox {
    font-family: Inter;
    font-size: 18px;
    padding: 30px;
    color: white;
    height: 490px;
    margin-top: 3%;
    background-color: steelblue;
    box-shadow: 10px 0px 15px #888888;
    border-radius: 5px;
}

.form-floating {
    color: black;
    margin-top: 20px;
}

.leftBox {
    padding-right: 0px;
}

.clinicInfo {
    width: 40%;
    float: left;
    padding-right: 25px;
    margin-right: 23px;
    border-right: 0.5px solid #444444;
}

.openingHours {
    width: 33%;
    float: left;
    padding: 5px;
    padding-left: 20px;
    margin-right: 15px;
    border-right: 0.5px solid #444444;
}
.breakHours {
    padding: 5px;
    padding-left: 15px;
    float: left;
    width: 15%;
}

h2 {
    text-shadow: 4px 2px 4px #888888;
    margin-bottom: 18px;
}

h3 {
    margin-right: 0px;
    font-size: 22px;
    margin-bottom: 20px;
    text-shadow: 3px 2px 2px #888888;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: darkgray;
    border-radius: 5px;
}

.clinicInfo > input, .passwordChanging > input {
    width: 90%;
    display: block;
}

.passwordChanging > .form-floating {
    margin-top: 30px;
}

.day > input {
    width: 31%;
    margin-left: 6px;
    margin-right: 6px;
}

.day {
    font-size: 17px;
    font-weight: bold;
}

.day > label {
    font-size: 16px;
    font-weight: normal;
}

#otherButton {
    display: none;
}

.button {
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
}

.button:hover {
    background-color: lightgray;
}

#otherButton:hover {
    background-color: lightgray;
}

#liveAlertPlaceholder {
    font-family: Inter;
    display: none;
    height: 60px;
    padding: 10px;
    padding-left: 13px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 3%;
    font-size: 23px;
    border: 1px solid black;
    border-radius: 3px;
}

@media only screen and (min-width: 1400px) {
    .passwordChanging, .leftBox {
        display: block;
        margin-left: 9%;
    }

    .passwordChanging {
        width: 50vw;
    }

    .leftBox {
        width: 70vw;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
    .passwordChanging {
        width: 70%;
        margin-left: 2%;
    }

    .leftBox {
        margin-left: 2%;
        width: 90%;
    }
}

@media only screen and (max-width: 991px) {
    .leftBox {
        height: 950px;
        padding-right: 10px;
    }

    .clinicInfo {
        margin: 20px;
        width: 100%;
        display: block;
        border-right: none;
        padding-right: 60px;
    }
    .openingHours {
        width: 65%;
    }
    .breakHour {
        width: 25%;
    }
    .clinicInfo > .button {
        display: none;
    }
    #otherButton {
        display: flex;
        float: left;
        margin-right: 23px;
        font-size: 18px;
        margin-top: 170px;
        background-color: whitesmoke;
        border-radius: 5px;
    }
}
@media only screen and (max-width: 463px) {
    .leftBox {
        height: 1150px;
    }
    .clinicInfo, .openingHours, .breakHours {
        display: block;
        width: 100%;
    }
    .openingHours {
        border-right: none;
    }
    #otherButton {
        float: none;
        margin-top: 13px;
    }
}
