.profileContainer {
    background-color: whitesmoke;
}

.passwordChanging, .leftBox {
    float: left;
    font-family: Inter, serif;
    font-size: 18px;
    padding: 30px;
    color: white;
    height: 570px;
    margin-top: 3%;
    background-color: steelblue;
    box-shadow: 10px 0 15px #888888;
    border-radius: 5px;
    margin-bottom: 50px;
}

.informationInputContainer {
    color: black;
    margin-top: 20px;
}

.leftBox {
    padding-right: 0;
}

.clinicInfo {
    width: 47%;
    float: left;
    padding-right: 25px;
    margin-right: 15px;
    border-right: 1px solid #444444;
}

#fikaHour {
    border-right: 1px solid #444444;
}

.openingHours {
    width: 47%;
    float: left;
    padding: 5px 5px 5px 10px;
}

#clinicHeader2 {
    text-shadow: 4px 2px 4px #888888;
    margin-bottom: 18px;
}

#hoursHeader {
    font-size: 22px;
    text-shadow: 3px 2px 2px #888888;
    margin: 0px 2px 0px 0px;
}

.informationInput {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: darkgray;
    border-radius: 5px;
}

.clinicInfo > .informationInput {
    width: 90%;
    display: block;
}

.passwordChanging > .informationInputContainer {
    margin-right: 40px;
    width: 95%;
    margin-top: 55px;
}

.clinicInfo > .informationInputContainer {
    margin-top: 35px;
}

.day > .informationInput {
    width: 31%;
    margin-left: 6px;
    margin-right: 6px;
}

.breakHours > .day > .informationInput {
    width: 30%;
}

.day {
    font-size: 17px;
    font-weight: bold;
}

.day > label {
    font-size: 16px;
    font-weight: normal;
}

#otherButton {
    display: none;
}

.informationButton {
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
}

.passwordChanging > .informationButton {
    margin-top: 43px;
    padding: 13px;
}

.informationButton:hover {
    background-color: lightgray;
}

#otherButton:hover {
    background-color: lightgray;
}

#alertPlaceholder {
    font-family: Inter, serif;
    display: none;
    height: 60px;
    width: 70%;
    padding: 10px 10px 10px 13px;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 23px;
    border: 1px solid black;
    border-radius: 3px;
}

@media only screen and (min-width: 1400px) {
    .passwordChanging, .leftBox {
        margin-left: 6%;
    }

    .passwordChanging {
        width: 30vw;
    }

    .leftBox {
        width: 50vw;
    }

    .openingHours {
        padding-left: 30px;
    }

    #alertPlaceholder {
        margin-left: 6%;
    }
}

@media only screen and (min-width: 1018px) and (max-width: 1399px) {
    .passwordChanging {
        margin-left: 7%;
        width: 30vw;
    }

    .leftBox {
        margin-left: 3%;
        width: 55vw;
    }

    .passwordChanging > .informationInputContainer {
        width: 90%;
    }

    #alertPlaceholder {
        margin-left: 3%;
    }
}

@media only screen and (max-width: 1017px) {
    .leftBox, .passwordChanging {
        display: block;
        width: 70vw;
        height: 1100px;
        margin-left: 18%;
        padding-right: 10px;
    }

    .clinicInfo, .openingHours {
        margin: 20px;
        width: 90%;
        display: block;
        border-right: none;
    }

    .passwordChanging > .informationInputContainer {
        width: 90%;
        margin-top: 40px;
    }

    .passwordChanging {
        height: 540px;
    }

    .openingHours {
        width: 70%;
    }

    .clinicInfo > .informationButton {
        display: none;
    }

    #otherButton {
        display: flex;
        margin-top: 20px;
        font-size: 18px;
        background-color: whitesmoke;
        border-radius: 5px;
        border: none;
        padding: 10px;
    }

    #alertPlaceholder {
        margin-left: 18%;
    }
}

@media only screen and (max-width: 564px) {
    .leftBox, .passwordChanging {
        width: 75vw;
        margin-left: 12%;
    }

    .leftBox {
        padding-left: 5px;
        height: 1170px;
    }

    .clinicInfo, .openingHours {
        display: block;
        width: 100%;
    }

    .openingHours {
        margin-left: 5px;
        border-right: none;
    }

    #alertPlaceholder {
        margin-left: 12%;
    }

}
