.cardContainer {
   width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    padding: 5px;
}

.imageContainer{
    overflow: hidden;
    height: 200px;
    justify-content: center;
}