#dentistCardContainer {
   width: 300px;
    height: 185px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}

#dentistBtn {
    display: flex;
    flex-wrap: wrap;

}

.openScheduleModal{
    padding-right: 9px;
    display: flex;
}

.openDentistModal{
    display: flex;
}