.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#map-wrapper {
    position: inherit;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 70vh;
}


.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}