#dentistModalBtn {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

main{
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


#dentistModalContainer {
    max-width: 40%;
    min-height: 50%;
    width: 100%;
    height: 95%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: whitesmoke;
    border-radius: 5px;

}


.dentistModalRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5%;
    padding-left: 5%;
}

#dentistBtn-close {
    left: 95%;
    bottom: 95%;
    position: fixed;
    z-index: 1;
    border: 0;
}


#saveBtn {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#dentistModalRight {
    margin-left: 10px;
    flex-wrap: wrap;
}

#noteAndConfirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    padding-right: 10%;
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
    #modalContainer {
        max-width: 40%;
        min-height: 50%;
        width: 100%;
        height: 95%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
    }
}

@media only screen and (max-width: 991px) {
    .modalContainer{
        max-width: 50%;
        min-height: 50%;
        width: 100%;
        height: 95%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
    }
}

@media only screen and (max-width: 463px) {
    .modalContainer{
        max-width: 90%;
        min-height: 50%;
        width: 100%;
        height: 95%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
    }
}
